<!DOCTYPE html>
<html lang="en">

<head>
    <meta property="fc:frame" content="vNext" />
    <meta property="fc:frame:image"
        content="{{frame_image}}" />
    <meta property="og:image" content="{{og_image}}" />
    <meta property="fc:frame:button:1" content="{{left_button_text}}" />
    <meta property="fc:frame:button:1:target" content="{{left_button_target}}" />
    <meta property="fc:frame:button:2" content="{{right_button_text}}" />
    <meta property="fc:frame:button:2:action" content="link" />
    <meta property="fc:frame:button:2:target" content="{{right_button_target}}" />


    <meta http-equiv="refresh" content="0; URL={{registration_link}}" />
    <title>Beyond the Base Layer</title>
</head>

<body>
</body>

</html>